h4 {
    display: none;
  }
  
  .show {
    display: flex;
    position: fixed;
    bottom: 10px; 
    right: 140px; 
  }
  
  #buttonemail img {
    width: 65px;
  }
  
  #buttonemail:hover {
    filter: brightness(1.15);
    -webkit-transform: scale(1.1) rotate(360deg);;
    transition: 0.3s;
  }
  
  #buttonemail {
    transition: 0.3s;
    display: flex;
    flex-direction: row;
    justify-content: center; 
    bottom: 30px; 
    right: 60px; 
    position: fixed;
    cursor:pointer;
  }
  
  #textemail h4 {
    background-color: rgb(169, 192, 253);
    padding: 2%;
    font-size: 110%;
    border-radius: 15px;
  }
  
  
  
  
  h5 {
    display: none;
  }
  
  .show2 {
    display: flex;
    position: fixed;
    right: 140px; 
    bottom:140px;
    width: 350px;
  }
  
  #buttonsale img {
    width: 70px;
  }
  
  #buttonsale:hover {
    filter: brightness(1.15);
    -webkit-transform: scale(1.1) rotate(360deg);
    transition: 0.3s;
  }
  
  #buttonsale {
    transition: 0.3s;
    display: flex;
    flex-direction: row;
    justify-content: center; 
    bottom: 115px; 
    right: 60px; 
    position: fixed;
    cursor:pointer;
  }
  
  #textsale h5 {
    background-color: rgb(250, 159, 159);
    padding: 2%;
    font-size: 110%;
    border-radius: 15px;
  }
  
  @media all and (min-width:1000px) and (max-width:1280px) {
    #buttonemail img {
      width: 60px;
    }
  
    #textemail h4 {
      font-size: 100%;
    }
  
    #buttonsale img {
      width: 80px;
    }
  
    #textsale h5 {
      font-size: 90%;
    }
  }