@font-face {
    font-family: 'Lucida Console';
    src: url("../fonts/lucida.ttf");
}

* {
    margin: 0%;
    /* border: 1px solid red; */
}

.line {
    width: 60%;
    margin: auto;
    color:black;

}

